@model BilisimBilgisayar.Models.Urun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunResimDosyasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunResimDosyasi)
            <img src="/uploads/@Html.DisplayFor(model => model.UrunResimDosyasi)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunTeknikBilgileri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunTeknikBilgileri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kategori.KategoriAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
